/* general */

:root {
    --dark: rgb(37, 27, 55);
    --dark-accent: rgb(55, 41, 72);
    --light-accent: rgb(255, 202, 202);
    --light: rgb(255, 236, 239);
    --dark-correct: rgb(31, 54, 32);
    --dark-incorrect: rgb(72, 41, 41);
}

html {
    font-family: Quicksand, serif;
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--dark);
    color: var(--light);
}

.btn {
    background-color: var(--dark);
    color: var(--light-accent);
    font-family: Quicksand, serif;
    font-size: 1.6rem;
    display: block;
    border: 0;
    border-radius: 5px;
    padding: 11px 17px;
    min-width: 100px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--dark-accent);
}

h1, h2, h3{
    padding: 10px 0px;
    font-size: 3.5rem;
    font-weight: 600;
}

h2 {
    font-size: 2.7rem;
    font-weight: 500;
}

h3 {
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    width: fit-content;
    display: block;
    padding: 10px 20px;
    margin: 10px auto;
    border: 2px solid var(--dark-accent);
    border-radius: 5px;
}

p {
    font-size: 1.6rem;
    text-align: center;
}

/* splash screen */

.splash {
    display: block; /* change to none in JS */
}

.splash-header {
    width: fit-content;
    margin: 100px auto 50px auto;
}

.splash-header h1 {
    text-align: center;
}

.splash-content {
    display: flex;
    justify-content: space-evenly;
}

.splash-content button {
    font-size: 2rem;
    width: 200px;
}

/* quiz screen */

/* .quiz {
    display: none;
} */

.quiz-header {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

#timer {
    display: block;
    font-size: 2rem;
    padding: 13px 17px;
}

#hs-btn {
    font-size: 2rem;
}

.quiz-content {
    width: 50%;
    margin: auto;
}

.quiz-content ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.quiz-content ul button {
    text-align: left;
    min-width: 200px;
}

/* form screen */

/* .form {
    display: none;
} */

.form-header {
    margin: 100px auto 50px auto;
}

.form-header h1 {
    text-align: center;
}

.form-content form {
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
}

.form-content label {
    font-size: 2rem;
    display: inline-block;
    text-align: center;
    width: 100px;
    padding: 11px 0;
}

.form-content input[type="text"] {
    all: unset;
    font-size: 2rem;
    display: inline-block;
    background-color: var(--dark-accent);
    padding-left: 10px;
    margin-right: 50px;
}

.form-content .btn {
    justify-self: flex-end;
    font-size: 2rem;
}